$colors: (
  neutral: (
    100: #fff,
    200: #fbf3f3,
    300: #f2f2f2,
    400: #dcdcdc,
    600: #707070,
    800: #555,
    900: #000,
  ),
  primary: (
    400: #aa0601,
    600: #b75929,
    700: #650300,
  ),
);

$box-shadow: 0px 2px 6px #00000029;
