$ff-notoSansTC: "Noto Sans TC", sans-serif;
$ff-roboto: "Roboto", sans-serif;

$font-sizes: (
  300: 0.875rem,
  400: 1.25rem,
  500: 1.5rem,
  600: 3rem,
);

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
  "black": 900,
);
