@use "sass:color";
@use "../abstracts/" as *;

.locations {
  .title {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inline-size: rem(8);
      background-color: clr(primary, 500);
      inset: 0 auto 0 rem(-4);
    }
  }

  &__selector {
    display: flex;
    align-items: center;
    margin-block: rem(24);

    @include mq-for-above("mobile") {
      margin-block: rem(32) rem(40);
    }

    label {
      flex-shrink: 0;
      margin-inline-end: rem(16);

      @include mq-for-above("mobile") {
        font-size: rem(24);
      }
    }

    select {
      inline-size: 100%;
      background-color: clr(neutral, 100);
      color: color.adjust(clr(neutral, 850), $alpha: -0.2);
      padding: rem(6) rem(12);
      border: 1px solid clr(neutral, 350);
      appearance: none;
      cursor: pointer;
      font-size: rem(18);
    }

    &-wrapper {
      position: relative;
      inline-size: min(rem(304), 100%);

      &::after {
        content: url("assets/images/icons/arrow-down.svg");
        position: absolute;
        inline-size: rem(24);
        block-size: rem(24);
        inset: 50% 0 auto auto;
        translate: -50% -50%;
        pointer-events: none;
      }
    }
  }

  h3 {
    border: 1px solid color.adjust(clr(neutral, 900), $alpha: -0.875);
  }

  &__stores {
    display: flex;
    flex-wrap: wrap;
    gap: rem(24);

    @include mq-for-above("tablet") {
      row-gap: rem(48);
    }
  }

  .card {
    --card-min-block-size: #{rem(516)};

    @include mq-for-above("mobile") {
      --card-max-inline-size: #{rem(336)};
    }

    @include mq-for-above("tablet") {
      --card-max-inline-size: #{rem(416)};
    }

    &__content {
      border: 1px solid color.adjust(clr(neutral, 900), $alpha: -0.875);

      img {
        inline-size: rem(24);
        margin-inline-end: rem(8);
        margin-block-start: rem(3);
      }
    }
  }

  .button {
    font-size: rem(19);

    &:hover {
      opacity: 80%;
    }
  }
}
