@use "../abstracts/" as *;

.pagination {
  display: flex;
  inline-size: fit-content;
  margin-inline: auto;

  > :not(:first-child) a {
    border-inline-start: none;
  }

  a {
    display: inline-block;
    min-inline-size: rem(40);
    padding: rem(12);
    border: 1px solid clr(neutral, 600);
    text-align: center;

    @include mq-for-above("mobile") {
      font-size: rem(18);
    }

    @include mq-for-above("tablet") {
      font-size: rem(19);
    }

    &:hover {
      background-color: clr(neutral, 300);
    }

    &.active {
      background-color: clr(neutral, 900);
    }

    &:not(.active) {
      color: clr(neutral, 800);
    }
  }
}
